*{
    margin:0; 
    padding:0;
}

.cabecalho{
    background-color:deeppink;
    color:rgb(255, 240, 249);
    display: flex; 
    justify-content: space-around;
    padding: 24px 0;
    font-size:30px;
}

.cabecalhoListaItem{
 Display: inline-block;
 margin: 16px;
 Padding: 7px 0;


}

.sobreImagem{
           width:
}

.sobre{
        background-image: linear-gradient(#fd02aa,#fd0481);
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
       align-items: center;
       padding: 370px 0;
}

.sobreConteudo{
        width:
}

.sobreTitulo{
         padding: 100px 50px;
}

.membroImagem{
width:120px;
}

.membroIcone{
width: 24px;
}

.membroDiv{
text-align: center;
}

.membrosTitulo{
text-align:center;
padding: 50px 0;
}

.membrosTodos{
display: grid;
/*Transforma o display em quadrados*/
grid-template-columns: 10% % 16% 16% 16% 16%;
/*Quanto cada coluna ocupa na página, em sequência*/
}

.membroDiv{
text-align:center;
padding-bottom: 34px;
}

.membros{
background-color: rgb(255, 0, 170);
}